.w-100 {
	width: 100%;
}

.text-center {
	text-align: center;
}

.text-end {
	text-align: right;
}

.text-start {
	text-align: left;
}

.justify-content-between {
	justify-content: space-between;
}

.mt-16 {
	margin-top: 16px;
}
