@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
	font-family: 'Manrope', sans-serif;
}

*,
*:after,
*:before {
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
	color: rgba(0, 0, 0, 1);
	font-family: 'Manrope', sans-serif;
	background-color: #f7f6ff;
	margin: 0;
	padding: 0;
}

// ::selection {
// 	background: rgba(0, 135, 62, 0.5);
// 	color: rgba(255, 255, 255, 1);
// }

button,
a {
	cursor: pointer;
	border: none;
	text-decoration: none;
	outline: none;
	transition: 0.3s all ease-out;
}

svg,
img {
	user-select: none;
	vertical-align: top;
	pointer-events: none;
}

p {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

input[type='number'] {
	appearance: none;
	-moz-appearance: textfield;
}

@import 'main';
@import 'components';
