@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Yeseva+One&display=swap');

* {
	font-family: 'DM Sans', sans-serif;
}

*,
*:after,
*:before {
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
	color: rgba(255, 255, 255, 1);
	font-family: 'DM Sans', sans-serif;
	background-color: #181818;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

::selection {
	background: rgba(0, 135, 62, 0.5);
	color: rgba(255, 255, 255, 1);
}

button,
a {
	cursor: pointer;
	border: none;
	text-decoration: none;
	outline: none;
	transition: 0.3s all ease-out;
}

svg,
img {
	user-select: none;
	vertical-align: top;
	pointer-events: none;
}

p {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

input[type='number'] {
	appearance: none;
	-moz-appearance: textfield;
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

.text-center {
	text-align: center;
}

.text-end {
	text-align: right;
}

.text-start {
	text-align: left;
}

.button {
	border-radius: 13px;
	background: #00873e;
	box-shadow: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	gap: 12px;
	position: relative;
	padding: 12px 36px;
	color: rgba(255, 255, 255, 1);
	font-size: 22px;
	font-weight: 700;
	line-height: normal;

	&:hover {
		background: #26995b;
	}

	&:active {
		background: #006c32;
		opacity: 0.85;
	}

	&:focus {
		box-shadow: 0px 0px 0px 4px rgba(0, 135, 62, 0.5) !important;
		opacity: 1;
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	max-width: 1360px;
	padding: 0 20px;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 0px;
	margin-right: calc(24px * -0.5);
	margin-left: calc(24px * -0.5);
	margin-top: calc(24px * -1);

	.col-4 {
		width: calc(100% / 3);
		max-width: 100%;
		flex: 0 0 auto;
		padding-right: calc(24px * 0.5);
		padding-left: calc(24px * 0.5);
		margin-top: 24px;
	}
}

.table {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 100%;

	.table__head {
		display: grid;
		grid-template-columns: 0.2fr 1fr 1.2fr 1fr;
		align-items: center;
		gap: 48px;
		padding: 0 24px;

		.table__head-text {
			color: #ffffff;
			font-size: 18px;
			font-weight: 500;
			line-height: normal;
			letter-spacing: 1.8px;
			text-transform: uppercase;
		}
	}

	.table__body {
		display: flex;
		flex-direction: column;
		gap: 12px;

		.table__item {
			border-radius: 22px;
			background: #2b2f38;
			padding: 14px 24px;
			display: grid;
			grid-template-columns: 0.2fr 1fr 1.2fr 1fr;
			align-items: center;
			gap: 48px;

			.table__item-id {
				color: #ffffff;
				font-family: 'DM Mono', monospace;
				font-size: 18px;
				font-weight: 500;
				line-height: normal;
			}

			.table__item-user {
				display: flex;
				flex-direction: row;
				gap: 12px;
				align-items: center;

				img {
					border-radius: 8px;
					width: 40px;
					height: 40px;
				}

				p {
					color: #ffffff;
					font-size: 18px;
					font-weight: 500;
					line-height: normal;
				}
			}

			.table__item-text {
				color: #ffffff;
				font-size: 18px;
				font-weight: 400;
				line-height: normal;
			}
		}
	}
}
