@import 'components';

.nav {
	background: rgba(24, 24, 24, 0.2);
	backdrop-filter: blur(5px);
	padding: 20px 0px;
	width: 100%;
	position: relative;

	.nav__garland {
		position: absolute;
		bottom: -57px;
		left: 50%;
		transform: translateX(-50%);
		pointer-events: none;
		height: 57px;
		width: 100%;
		object-fit: cover;
		object-position: bottom center;
	}

	.nav__container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 48px;

		.nav__logo {
			img {
				width: 170px;
				height: 90px;
			}

			&:hover {
				opacity: 0.8;
			}

			&:active {
				opacity: 0.55;
			}
		}

		.nav__menu {
			display: flex;
			flex-direction: row;
			gap: 36px;
			align-items: center;

			.nav__item {
				color: #ffffff;
				font-size: 20px;
				font-weight: 500;
				line-height: normal;
				position: relative;

				&::after {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					bottom: -5px;
					width: 100%;
					height: 2px;
					background: #00873e;
					border-radius: 50%;
					opacity: 0;
					transition: 0.3s all ease-out;
				}

				&:hover {
					&::after {
						opacity: 1;
					}
				}

				&:active {
					opacity: 0.6;
				}
			}
		}
	}
}

.header {
	width: 100%;
	min-height: 990px;
	height: 100vh;
	background-color: transparent;
	background-image: url(../event/header-background.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	gap: 36px;
	padding-bottom: 48px;

	.header__container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 50px;
		margin: auto;

		.header__text {
			display: flex;
			flex-direction: column;
			gap: 24px;
			max-width: 540px;
			width: 100%;

			.header__title {
				color: #e1e1e1;
				font-family: 'Yeseva One', serif;
				font-size: 65px;
				font-weight: 400;
				line-height: normal;
			}

			.header__description {
				color: #ffffff;
				font-size: 18px;
				font-weight: 400;
				line-height: 34px;

				b {
					font-weight: 700;
				}
			}
		}

		.header__image {
			width: auto;

			img {
				width: 664px;
			}
		}
	}
}

.footer {
	padding: 50px 0;
	margin-top: 168px;
	background: #212121;
	width: 100%;

	.footer__container {
		display: flex;
		flex-direction: row;
		gap: 48px;
		align-items: center;
		justify-content: space-between;

		.footer__logo {
			img {
				width: 253px;
				height: 134px;
			}

			&:hover {
				opacity: 0.8;
			}

			&:active {
				opacity: 0.55;
			}
		}

		.footer__social {
			width: 53px;
			height: 53px;
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}

			&:active {
				opacity: 0.8;
			}
		}

		.footer__section {
			display: flex;
			flex-direction: column;
			gap: 24px;

			.footer__section-name {
				color: #e1e1e1;
				font-size: 28px;
				font-weight: 400;
				line-height: normal;
			}

			.footer__section-content {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 36px;
			}
		}
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	max-width: 1360px;
	padding: 0 20px;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 0px;
	margin-right: calc(24px * -0.5);
	margin-left: calc(24px * -0.5);
	margin-top: calc(24px * -1);

	.col-4 {
		width: calc(100% / 3);
		max-width: 100%;
		flex: 0 0 auto;
		padding-right: calc(24px * 0.5);
		padding-left: calc(24px * 0.5);
		margin-top: 24px;
	}
}

.main {
	padding-top: 96px;

	.main__container {
		gap: 84px;
	}
}

.section {
	display: flex;
	flex-direction: column;
	gap: 48px;
	align-items: center;

	.section__title {
		color: #e1e1e1;
		font-family: 'Yeseva One', serif;
		font-size: 48px;
		font-weight: 400;
		line-height: normal;
		text-align: center;
	}

	.section__text {
		color: #e1e1e1;
		font-size: 28px;
		font-weight: 400;
		line-height: normal;
		max-width: 1150px;
		width: 100%;
	}
}

.prize {
	border-radius: 16px;
	background: #323742;
	min-height: 262px;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 20px;
	overflow: hidden;
	transition: 0.3s all ease-out;

	&:hover {
		scale: 1.04;
	}

	.prize__place {
		color: #ffffff;
		font-family: 'DM Mono', monospace;
		font-size: 18px;
		font-weight: 500;
		line-height: normal;
		z-index: 1;
	}

	.prize__name {
		color: #ffffff;
		font-size: 22px;
		font-weight: 500;
		line-height: normal;
		z-index: 1;
	}

	.prize__image {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 280px;
	}
}

.table {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 100%;

	.table__head {
		display: grid;
		grid-template-columns: 0.2fr 1.1fr 1fr 1fr;
		align-items: center;
		gap: 48px;
		padding: 0 24px;

		.table__head-text {
			color: #ffffff;
			font-size: 18px;
			font-weight: 500;
			line-height: normal;
			letter-spacing: 1.8px;
			text-transform: uppercase;
		}
	}

	.table__body {
		display: flex;
		flex-direction: column;
		gap: 12px;

		.table__item {
			border-radius: 22px;
			background: #2b2f38;
			padding: 14px 24px;
			display: grid;
			grid-template-columns: 0.2fr 1.1fr 1fr 1fr;
			align-items: center;
			gap: 48px;

			.table__item-id {
				color: #ffffff;
				font-family: 'DM Mono', monospace;
				font-size: 18px;
				font-weight: 500;
				line-height: normal;
			}

			.table__item-user {
				display: flex;
				flex-direction: row;
				gap: 12px;
				align-items: center;

				img {
					border-radius: 8px;
					width: 40px;
					height: 40px;
				}

				p {
					color: #ffffff;
					font-size: 18px;
					font-weight: 500;
					line-height: normal;
				}
			}

			.table__item-text {
				color: #ffffff;
				font-size: 18px;
				font-weight: 400;
				line-height: normal;
			}
		}
	}
}

.list-style {
	list-style-type: decimal;

	.add-list {
		list-style-type: disc;
		padding-left: 35px;
	}
}
.snowMobileFoo {
	color: #fff;
}
